* {
  margin: 0px;
  font-family: sans-serif;
}

.monoton {
  font-family: "Monoton", cursive;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

.page-wrapper-with-nav {
  /* align-items: center; */
  /* text-align: center; */
  display: grid;
  place-items: center;
  /* border: 2px dashed red; */
  min-height: calc(100vh - 64px);
}

.no-link-style {
  text-decoration: none;
}
