* {
  margin: 0px;
  font-family: sans-serif;
}

.monoton {
  font-family: "Monoton", cursive;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

.body-wrapper {
  /* background-color: yellow; 217 214 213*/

  background-color: white;
  background-repeat: repeat-y;
  display: grid;
  place-items: center;
  min-height: calc(100vh - 64px);
}

.no-link-style {
  text-decoration: none;
}

.margin-auto {
  margin: auto;
}
