* {
  font-family: "Archivo", sans-serif;
}

#lets-roll-logo {
  font-family: "Monoton", cursive;
  color: white;
  text-decoration: none;
  font-size: 30pt;
}

.no-link-style {
  text-decoration: none;
}

#navbar-color {
  background-color: #4dd0e1;
}

.nav-button {
  color: white !important;
  background-color: transparent !important;
  margin: 10px;
}

.MuiList-root {
  background-color: #4dd0e1 !important;
  color: white !important;
  margin: 10px;
}
