* {
  font-family: "Archivo", sans-serif;
}

#lets-roll-logo {
  /* border: 2px solid red; */
  font-family: "Monoton", cursive;
  color: white;
  text-decoration: none;
  font-size: 30pt;
}

#logo-link {
  text-decoration: none;
}

.no-link-style {
  text-decoration: none;
}
